html { height: 100%; scroll-behavior: smooth; visibility: visible; opacity: 1; }
body { display: flex; min-height: 100vh; flex-direction: column; background-color: #000000; font-family: 'Hack', sans-serif; }
main { flex: 1 0 auto; }
@font-face { font-family: 'Hack'; font-style: normal; font-weight: 400; src: local('Hack Regular'), local('hack-regular'), url(../fonts/hack-regular.woff2) format('woff2'); font-display: swap;}
.material-icons { font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; }
.img { object-fit: cover; width: auto; height: 180px; }
@media only screen and (min-width: 768px) {
  .img {
    object-fit: cover; width: 640px; height: 320px;
  }
}
.content { font-weight: 300; font-size: 16px; }
pre { border: 0; display: block; padding: 0px; }
.hoverable:hover { transition: box-shadow .25s; box-shadow: 0px 0px 10px 5px rgba(0,230,255,1); }
.glow { box-shadow: 0px 0px 10px 5px rgba(0,230,255,1); }
.glass { background-color: rgba(30,30,30,0.6); }
.tools { overflow-x: auto; white-space: nowrap; }
.round { width: 40px; height: 40px; border-radius: 50%; text-align: center; }
#particles-js { position: fixed; width: 100%; height: auto; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; z-index: -1; }
.adjust { margin: 5px; border-radius: 5px; border: 1px solid #00e2ff; }
h1 { font-size: 45px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
.tr-dark { background-color: rgba(30,30,30,0.6); }
.nav-wrap { display: flex; align-items: center; margin-left: 15px; }
.nav-img { width: 60px; height: 60px; margin-right: 20px; margin-bottom: 40px; margin-top: 40px; float: left; align-self: center; }
@media only screen and (min-width: 768px) {
  .nav-img { width: 80px; height: 80px; margin-right: 20px; margin-bottom: 40px; margin-top: 40px; float: left; align-self: center; }
}
.social-wrap { display: flex; flex-wrap: wrap; flex-direction: row; margin-bottom: 10px; align-items: center; justify-content: space-between; }
.sub-social { display: flex; justify-content: space-between; margin-bottom: 20px; width: 100%; }
@media only screen and (min-width: 768px) {
.sub-social { display: flex; justify-content: space-between; margin-bottom: 20px; width: 50%; }
}
.margin30 { margin-top: 30px; }
.margin20 { margin-top: 20px; }
.sub-text { font-size: 20px; padding-top: -10px; }
.sub-text-link { color: #00ff00; }
.sub-text-glow { text-shadow: 0px 0px 15px #00ff00; }
.text-glow { text-shadow: 0px 0px 15px #00e2ff; }
.about-text { font-size: 18px; }
.fluid-text { font-size: 18px; line-height: 180px; float: left; }
.block-cursor {
  float: left;
  margin-left: 4px;
  width: 10px;
  height: 20px;
  background: white;
  box-shadow: 0 0 15px #00e2ff;
  line-height: 180px;
}

@media only screen and (min-width: 768px) {
	.fluid-text { font-size: 45px; line-height: 180px; float: left;}
	.block-cursor {
    float: left;
    margin-left: 4px;
    margin-top: 8px;  
  	width: 23px;
  	height: 45px;
  	background: white;
  	box-shadow: 0 0 15px #00e2ff;
  	line-height: 180px;
  }
}  	
.hidden { opacity: 0; }
.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}
.link a { color: #00ff00; font-size: 18px; }
.close-btn { display: flex; float: right; }
a:active, a:focus { outline: 0; border: none; }
.center-img{ display: flex; justify-content: center; }
.tb-margin{margin-top: 20px; margin-bottom: 20px;}
.btn-abt { background-color: transparent; border: 0; border-radius: 5px; cursor: pointer; width: 100%; height: 50px; color: #00ffff; font-family: Hack; font-size: 18px; padding: 0px; margin: 0px; }
@media only screen and (min-width: 768px) {
  .btn-abt { background-color: transparent; border: 0; border-radius: 5px; cursor: pointer; width: 200px; height: 50px; color: #00ffff; font-family: Hack; font-size: 18px; float: right; padding: 0px; margin: 0px; }
}
.btn-abt:hover, .btn-abt:focus { background: transparent; }
.btn-abt-glow { box-shadow: 0px 0px 10px 5px rgba(0,230,255,1); animation: shadow_pulse 3s infinite; }
@keyframes shadow_pulse {
  0%, 100% { box-shadow: 0px 0px 10px 5px rgba(0,230,255,0); }
  50% { box-shadow: 0px 0px 10px 5px rgba(0,230,255,1); }
}
@keyframes green_pulse {
  0%, 100% { background-color: #212121; box-shadow: 0px 0px 10px 2px rgba(0,255,0,0); }
  50% { background-color: #00ff00; box-shadow: 0px 0px 10px 2px rgba(0,255,0,1); }
}
@keyframes yellow_pulse {
  0%, 100% { background-color: #212121; box-shadow: 0px 0px 10px 5px rgba(240,255,0,0); }
  50% { background-color: #fff000; box-shadow: 0px 0px 10px 5px rgba(240,255,0,1); }
}
@keyframes red_pulse {
  0%, 100% { background-color: #212121; box-shadow: 0px 0px 10px 5px rgba(255,0,0,0); }
  50% { background-color: #ff0000; box-shadow: 0px 0px 10px 5px rgba(255,0,0,1); }
}
.btn-custom { display: inline-block; vertical-align: middle; text-align: center; line-height: 36px; height: 40px; padding: 0 10px 0 10px; margin: 5px; background-color: transparent; border: 2px #00e2ff solid; border-radius: 2px; cursor: pointer; color: #00ffff; font-family: "Hack"; font-size: 18px; }
.green-dot { display: inline-block; height: 10px; width: 10px; margin-left: 10px; background-color: #00ff00; border-radius: 50%; animation: green_pulse 3s infinite; }
.yellow-dot { display: inline-block; height: 10px; width: 10px; margin-left: 10px; background-color: #fff000; border-radius: 50%; animation: yellow_pulse 3s infinite; }
.red-dot { display: inline-block; height: 10px; width: 10px; margin-left: 10px; background-color: #ff0000; border-radius: 50%; animation: red_pulse 3s infinite; }
.pub-img { width: 100%; height: auto; }
@media only screen and (min-width: 768px) {
  .pub-img { width: 20%; height: auto; }
}

/* https://codepen.io/alanhouser/pen/aErrQJ */

#timeline-content {
  margin-top: 50px;
  width: 100%;
}

.timeline {
  left: 10%;
  width: 40%;
  border-left: 2px solid #ffffff;
  margin: 50px auto;  
  position: relative;
  padding: 10px;   
  list-style: none;
  text-align: left;
}

.event {
  left: 40px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #808080;
}

.event:before, .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.event:before {
  left: -150px;
  min-width: 80px;
  content: attr(data-date);
  text-align: right;
}

.event:after { 
  left: -48.5px;
  background: #00bcd4;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  content: "";
  top: 5px;
}
.title { font-size: 4vw; }
.subline { font-size: 3vw; }
.date-size { font-size: 3.6vw; }
@media only screen and (min-width: 768px) {
  .title { font-size: 1vw; }
  .subline { font-size: 1vw; }
  .date-size { font-size: 1vw; }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .title { font-size: 3vw; }
  .subline { font-size: 2vw; }
  .date-size { font-size: 2.5vw; }
}
pre { background-color: #212121; color: #00ff00; border: 0px; border-radius: 5px; box-shadow: 0 0 10px 2px inset rgba(0,0,0,0.6); padding: 15px; overflow-x: hidden; font-family: Hack; white-space: pre-wrap; word-wrap: break-word; }
.circle-btn { width: 56px; height: 56px; display: flex; align-items: center; justify-content: center; background-color: #000000; border-radius: 50%; border: 0; cursor: pointer; padding: 0px; margin: 0px; }
.circle-btn:focus { outline: 0; background-color: #000000; }
