---
layout: default
---

{% if paginator.page == 1 %}
<div class="col s12 m12 l12">
	<div class="card-panel glow tr-dark profile-card-top-margin">
        <div class="row">
            <div class="col l2 s12 center-align">
                <img class="circle responsive-img" src="images/logo_small.png" alt="thewhiteh4t logo">
            </div>
            <div class="col s12 l10 center-align margin20">
                <h1 class="white-text"><i>"OFFENSE IS THE BEST DEFENSE"</i></h1>
            </div>
        </div>

		<h2 class="white-text">thewhiteh4t</h2>
		<span class="white-text sub-text">Founder, <a href="https://dc911337.org">DC911337 | DEFCON Gurugram Group</a></span>

		<h3 class="white-text">Projects</h3>

		<a class="btn light-green accent-3 black-text adjust" href="https://github.com/thewhiteh4t/pwnedOrNot">pwnedOrNot</a>
		<a class="btn light-green accent-3 black-text adjust" href="https://github.com/thewhiteh4t/seeker">seeker</a>
		<a class="btn light-green accent-3 black-text adjust" href="https://github.com/thewhiteh4t/killcast">killcast</a>
		<a class="btn light-green accent-3 black-text adjust" href="https://github.com/thewhiteh4t/FinalRecon">FinalRecon<a>
		<a class="btn light-green accent-3 black-text adjust" href="https://github.com/thewhiteh4t/flashsploit">FlashSploit</a>
		<a class="btn light-green accent-3 black-text adjust" href="https://github.com/thewhiteh4t/spacepaper">SpacePaper</a>

		<div class="row margin30">
			<div class="col s2 m2 l2 center-align">
				<a href="https://github.com/thewhiteh4t">
					<img src="{{ site.url }}/images/svg/github.svg" alt="thewhiteh4t github" class="btn-floating grey darken-4">
				</a>
			</div>
            <div class="col s2 m2 l2 center-align">
            	<a href="https://www.youtube.com/c/thewhiteh4t">
            		<img src="{{ site.url }}/images/svg/youtube.svg" alt="thewhiteh4t youtube" class="btn-floating grey darken-4">
            	</a>
            </div>
            <div class="col s2 m2 l2 center-align">
            	<a href="https://www.linkedin.com/in/lohityapushkar/">
            		<img src="{{ site.url }}/images/svg/linkedin.svg" alt="thewhiteh4t linkedin" class="btn-floating grey darken-4">
            	</a>
            </div>
            <div class="col s2 m2 l2 center-align">
            	<a href="https://twitter.com/thewhiteh4t?ref_src=twsrc%5Etfw">
            		<img src="{{ site.url }}/images/svg/twitter.svg" alt="thewhiteh4t twitter" class="btn-floating grey darken-4">
            	</a>
            </div>
            <div class="col s2 m2 l2 center-align">
            	<a href="https://t.me/thewhiteh4t">
            		<img src="{{ site.url }}/images/svg/telegram.svg" alt="thewhiteh4t telegram" class="btn-floating grey darken-4">
            	</a>
            </div>
            <div class="col s2 m2 l2 center-align">
            	<a href="https://thewhiteh4t.github.io/feed.xml">
            		<img src="{{ site.url }}/images/svg/rss.svg" alt="thewhiteh4t rss" class="btn-floating grey darken-4">
            	</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% for post in paginator.posts %}
<div class="col s12 m12 l6">
  <div class="card hoverable margin30 tr-dark">
    <div class="card-image">
      <img class="img" src="{{ site.url }}/{{ post.image }}.webp" onerror="this.onerror=null; this.src='{{ site.url }}/{{ post.image }}.png'" alt="{{ post.title }}">
      <a href="{{ site.url }}{{ post.url }}" class="btn-floating btn-large halfway-fab waves-effect black hoverable"><i class="material-icons">chevron_right</i></a>
    </div>
    <div class="card-content white-text">
      <span class="card-title truncate"> {{ post.title }} </span>>
      <span class="cyan-text"> {{ post.date | date: "%b %d, %Y" }} </span>>
    </div>
  </div>
</div>
{% endfor %}
