---
import BaseLayout from '../../layouts/Base.astro'
import { getCollection } from 'astro:content'
import BlogCard from '../../components/BlogCard.astro'
import CategoryCard from '../../components/CategoryCard.astro'
import TagCard from '../../components/TagCard.astro'
import PageBar from '../../components/PageBar.astro'

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 6)
---

<BaseLayout title="Blog" description="">
  <div class="container mx-auto px-4 mb-5 pt-20">
    <h1 class="text-3xl lg:text-4xl mt-10 mb-5">thewhiteh4t's Blog</h1>
    <h2 class="font-mono text-[1rem] font-normal text-primary">
      $ ./latest-transmissions
    </h2>
    <div class="my-5 grid grid-cols-1 lg:grid-cols-4 gap-4">
      <div class="lg:col-span-3">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
          {
            posts.map((post, index) => (
              <BlogCard
                post={post}
                loadingType={index < 4 ? 'eager' : 'lazy'}
                fetchPriority={index === 0 ? 'high' : 'auto'}
              />
            ))
          }
        </div>
      </div>
      <div class="flex flex-col">
        <div class="order-2 md:order-2 lg:order-1">
          <CategoryCard />
        </div>
        <div class="order-3 md:order-3 lg:order-2">
          <TagCard />
        </div>
        <div class="order-1 md:order-1 lg:order-3">
          <PageBar
            lastPage={undefined}
            currentPage={1}
            prev={''}
            next={'/blog/page/2'}
            first={undefined}
          />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
