---
import BaseLayout from '../layouts/Base.astro'
import '../styles/animBg.css'
---

<BaseLayout
  title="404 | Not Found"
  description="The page you are looking for was not found"
>
  <div
    class="anim-bg fixed h-screen w-full transform-cpu will-change-transform flex justify-center align-middle items-center"
  >
    <h1 class="text-3xl md:text-6xl">404 | Not Found</h1>
  </div>
</BaseLayout>
