---
import { Picture } from 'astro:assets'
import { getEntry } from 'astro:content'
import { Play } from 'lucide-react'

const { link } = Astro.props
const entry = await getEntry('blog', Astro.locals.slug)
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="relative aspect-video rounded-md shadow-md shadow-black/50 not-prose overflow-hidden block no-underline"
>
  <Picture
    src={entry.data.cardImage}
    alt={`Video link for ${entry.data.title}`}
    class="brightness-75 object-cover aspect-video rounded-md blur-xs"
  />
  <div class="absolute inset-0 flex items-center justify-center">
    <Play className="size-24 stroke-on-surface" />
  </div>
</a>
