<!DOCTYPE html>
<html>
<head>
  {% seo %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114300490-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114300490-1');
  </script>

  <meta name="theme-color" content="#212121">
  <meta name="application-name" content="thewhiteh4t"/>
  <meta name="msapplication-TileColor" content="#021212" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="msapplication-TileImage" content="{{ site.url }}/images/favicons/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="{{ site.url }}/images/favicons/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="{{ site.url }}/images/favicons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="{{ site.url }}/images/favicons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="{{ site.url }}/images/favicons/mstile-310x310.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/images/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/images/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/images/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/images/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/images/favicons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-128.png" sizes="128x128" />
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
  <link rel="stylesheet" href="{{ site.url }}/css/materialize.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
  <script src="{{ site.url }}/js/pace.min.js" defer></script>
</head>

<body>
  <div id="particles-js"></div>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-4 hoverable">
        <a style="outline: none;" class="brand-logo center cyan-text" href="{{ site.url }}">~/the<span class="white-text">white</span>h4t</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="btn black hoverable waves-effect" onclick="window.open('https://github.com/thewhiteh4t')">Github</a></li>
          <li><a class="btn black hoverable waves-effect" onclick="window.open('https://www.youtube.com/c/thewhiteh4t')">YouTube</a></li>
          <li><a class="btn black hoverable waves-effect" onclick="window.open('https://www.linkedin.com/in/lohityapushkar/')">LinkedIn</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>

  <footer class="page-footer grey darken-4 hoverable">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active cyan"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <nav>
      <div class="nav-wrapper grey darken-4">
        <ul id="nav-mobile" class="center">
          <li><a class="btn black hoverable waves-effect" onclick="window.open('https://github.com/thewhiteh4t')">Github</a></li>
          <li><a class="btn black hoverable waves-effect" onclick="window.open('https://www.youtube.com/c/thewhiteh4t')">YouTube</a></li>
          <li><a class="btn black hoverable waves-effect" onclick="window.open('https://www.linkedin.com/in/lohityapushkar/')">LinkedIn</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-copyright z-depth-4">
      <div class="container">Created By thewhiteh4t | init : February 17 2018</div>
    </div>
  </footer>

  <script src="{{ site.url }}/js/materialize.min.js"></script>
  <script src="{{ site.url }}/js/particles.min.js"></script>
  <script src="{{ site.url }}/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>particlesJS.load('particles-js', '/js/particlesjs-config.json', function() { console.log('callback - particles.js config loaded'); });</script>
</body>
</html>
