<!DOCTYPE html>
<html lang="en">
<head>
  {% if page.title %}
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="https://thewhiteh4t.github.io{{ page.url }}">
  <meta property="og:description" content="{{ page.title }}">
  <meta property="og:image" content="https://thewhiteh4t.github.io/{{ page.image }}.png">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@thewhiteh4t">
  <meta name="twitter:creator" content="@thewhiteh4t">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.title }}">
  <meta name="twitter:image" content="https://thewhiteh4t.github.io/{{ page.image }}.png">
  {% else %}
  <title>thewhiteh4t's Blog | Network Penetration Testing, Red Teaming, OSINT</title>
  <meta name="description" content="I write about tools I have created for the cyber community, updates regarding my active projects, exploits, tutorials, PoCs and a little bit of OSINT">
  <meta property="og:title" content="thewhiteh4t's Blog | Tools,Red Teaming,Network Pentesting,OSINT">
  <meta property="og:url" content="https://thewhiteh4t.github.io">
  <meta property="og:description" content="I write about tools I have created for the cyber community, updates regarding my active projects, exploits, tutorials, PoCs and a little bit of OSINT">
  <meta property="og:image" content="https://thewhiteh4t.github.io/images/og_twh_2.jpg">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@thewhiteh4t">
  <meta name="twitter:creator" content="@thewhiteh4t">
  <meta name="twitter:title" content="thewhiteh4t's Blog | Tools,Red Teaming,Network Pentesting,OSINT">
  <meta name="twitter:description" content="I write about tools I have created for the cyber community, updates regarding my active projects, exploits, tutorials, PoCs and a little bit of OSINT">
  <meta name="twitter:image" content="https://thewhiteh4t.github.io/images/og_twh_2.jpg">
  {% endif %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <meta name="google-site-verification" content="CoXRnOCynjRXx21Qp5sEmlVMpIfLvg4ThJ5yPTHwEsc" />
  
  <meta name="theme-color" content="#212121">
  <meta name="application-name" content="thewhiteh4t"/>
  <meta name="msapplication-TileColor" content="#021212" />
  <meta name="msapplication-TileImage" content="{{ site.url }}/images/favicons/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="{{ site.url }}/images/favicons/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="{{ site.url }}/images/favicons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="{{ site.url }}/images/favicons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="{{ site.url }}/images/favicons/mstile-310x310.png" />
  
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/images/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/favicons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/images/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/images/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/images/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/images/favicons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ site.url }}/images/favicons/favicon-128.png" sizes="128x128" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
  <link rel="stylesheet" href="{{ site.url }}/css/materialize.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
</head>

<body>
  <div id="particles-js"></div>
  <header class="container">
    <div class="col s12 m12 l12">
      <div class="nav-wrap">
		    <a href="{{ site.url }}"><img class="circle responsive-img glow nav-img" src="{{ site.url }}/images/logo_small.png"></a>
		    <div class="white-text text-glow fluid-text" id="typetext"></div>
		    <div class="block-cursor white-text text-glow" id="console"></div>
	    </div>

      <div class="social-wrap">
        <div class="sub-social">
          <a href="https://github.com/thewhiteh4t">
		  	    <img src="{{ site.url }}/images/svg/github.svg" alt="thewhiteh4t github" class="btn-floating grey darken-4 hoverable">
		      </a>
		      <a href="https://www.youtube.com/c/thewhiteh4t">
		      	<img src="{{ site.url }}/images/svg/youtube.svg" alt="thewhiteh4t youtube" class="btn-floating grey darken-4 hoverable">
		      </a>
		      <a href="https://www.linkedin.com/in/lohityapushkar/">
		      	<img src="{{ site.url }}/images/svg/linkedin.svg" alt="thewhiteh4t linkedin" class="btn-floating grey darken-4 hoverable">
		      </a>
		      <a href="https://twitter.com/thewhiteh4t">
		      	<img src="{{ site.url }}/images/svg/twitter.svg" alt="thewhiteh4t twitter" class="btn-floating grey darken-4 hoverable">
		      </a>
		      <a href="https://t.me/thewhiteh4t">
		      	<img src="{{ site.url }}/images/svg/telegram.svg" alt="thewhiteh4t telegram" class="btn-floating grey darken-4 hoverable">
		      </a>
		      <a href="https://thewhiteh4t.github.io/feed.xml">
		      	<img src="{{ site.url }}/images/svg/rss.svg" alt="thewhiteh4t rss" class="btn-floating grey darken-4 hoverable">
		      </a>
        </div>
        {% if page.url == '/' %}
        <button class="btn-abt btn-abt-glow" onclick="window.location.href='{{ site.url }}/about/'">whoami</button>
        {% endif %}
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% if page.url == '/' %}
    
    <div class="fixed-action-btn">
      <button class="btn-floating btn-large black glow modal-trigger" data-target="search-box" onclick="blurred()">
        <i class=" material-icons">search</i>
      </button>
    </div>

    <div id="search-box" class="modal tr-dark glow">
      <div class="modal-content">
        <button class="btn btn-floating black glow close-btn modal-close" onclick="clearblur()">
          <i class="material-icons white-text text-glow">close</i>
        </button>
        <input type="text" id="search-input" placeholder="Search..." class="white-text">
        <ul id="results-container" class="text-glow link"></ul>
      </div>
    </div>
    {% endif %}
  </main>

  <footer class="page-footer black glow center">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <ul class="pagination">
            {% if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path }}"><i class="material-icons white-text">chevron_left</i></a></li>
            {% endif %}
            {% if paginator.page %}
              <li class="active cyan"><a class="black-text">{{ paginator.page }}</a></li>
            {% endif %}
            {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path }}"><i class="material-icons white-text">chevron_right</i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
   
    <div class="footer-copyright">
      <div class="container">init : February 17 2018</div>
    </div>
  </footer>

  <script src="{{ site.url }}/js/materialize.min.js"></script>
  <script src="{{ site.url }}/js/particles.min.js"></script>
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-114300490-1"></script>
  <script>
    var i = 0;
    var txt = "thewhiteh4t's blog";
    var speed = 80;
    var visible = true;
    function typeWriter() {
      if (i < txt.length) {
        document.getElementById("typetext").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    }
    window.setInterval(function() {
      if (visible === true) {
        document.getElementById('console').className = 'block-cursor white-text text-glow hidden'
        visible = false;
      } else {
        document.getElementById('console').className = 'block-cursor white-text text-glow'
        visible = true;
      }
    }, 400)
    window.onload = setTimeout(function() { typeWriter(); }, 0);
    particlesJS.load('particles-js', '/js/particlesjs-config.json');
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114300490-1');
  </script>

  {% if page.url == '/' %}

  <script type="text/javascript" src="{{ site.url }}/js/search.js"></script>
  <script>
    window.simpleJekyllSearch = new SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: '{{ site.url }}/search.json',
      success: function () { console.log(" "); }
    })

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, {"dismissible": false, "preventScrolling": false});
    })

    function blurred() {
      var body = document.getElementsByClassName('container');
      for (var i = 0; i < body.length; i++) {
        body[i].className += ' blur';
      }
    }

    function clearblur() {
      var body = document.getElementsByClassName('container');
      for (var i = 0; i < body.length; i++) {
        body[i].classList.remove("blur");
      }
    }
  </script>
  {% endif %}
</body>
</html>
