---
layout: default
---

 <div class="col s12 m12 l12">
    <div class="card-panel grey darken-3 z-depth-5">   
    	<span class="content white-text">
		{{ content }}
		</span>
	</div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-small cyan z-depth-5">
      <i class=" material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating black z-depth-5"><i class="material-icons">content_copy</i></a></li>
      <li><a class="btn-floating green z-depth-5"><i class="fa fa-whatsapp"></i></a></li>
      <li><a class="btn-floating light-blue darken-4 z-depth-5"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="btn-floating blue z-depth-5"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn-floating light-blue z-depth-5"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>